// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
	background: $page-bg image-url('blackmamba/blackmamba.png') top left;
}

#content {
	background: none;
}

#main {
	background: image-url('wash-white-30.png');

	.sidebar {
		background: #F7F7F7;
	}
	
	
	#content .blog-index article {
		padding-top: 0;
	}
	
	article {
		background: #F7F7F7;
		padding: 10px;
		margin: 10px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	#content .blog-index article h1 a:hover {
		color: #296B73;
		text-decoration:   none;
	}
}
